body {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* FONT STYLES*/
h3 {
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    margin-bottom: 25px;
}

h4 {
    margin-bottom: 25px;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

h5 {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-size: 13px;
    color: #555555;
    line-height: 18px;
}

a, a:link, a:visited {
    text-decoration: none;
    outline: none;
}

.green {
    color: #509743;
}

.white {
    color: #fff;
}

strong {
    font-weight: bold;
}

/* END FONTS STYLES */

table{
    font-size: 10px;
}

table td{
    border: solid 1px #CCC;
    margin: 0px;
    padding: 2px;
}

#propiedades input[type=text]{
    font-size: 12px;
    width: 120px;
}
